[submodule "dependencies/libtins"]
	path = dependencies/libtins
	url = https://github.com/mfontanini/libtins.git
[submodule "dependencies/dependencies/libtuntap"]
	path = dependencies/libtuntap
	url = https://github.com/LaKabane/libtuntap
[submodule "dependencies/dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/dependencies/expected"]
	path = dependencies/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
